.sentiment {
    position: fixed;
    bottom: -10px;
    width: 100%;
    left: 0;
    transition: all 1s ease;
    opacity: 0;
}

.sentiment__message {
    margin: 0 auto;
    max-width: 600px;
    background-color: #EBFAFD;
    padding: 5px;
    border: 1px solid #3480DB;
    border-radius: 3px;
    text-align: left;
}

.sentiment.active {
    bottom: 150px;
    opacity: 1;
}