.sentiment {
  transition: all 0.3s linear;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translateY(-100%);
  padding-top: 70px;
  display: flex;
}

.sentiment__wrapper {
    margin: 0 auto;
    max-width: 600px;
    background-color: #feecf4;
    padding: 5px 10px;
    border: 1px solid #F54996;
    border-radius: 3px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.sentiment__wrapper button {
    background-color: transparent;
}

.sentiment__message {
    margin: 0;
}

.sentiment.active {
    transform: translateY(0);
}