@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");

:root {
  --color: #b51963;
  --color-on-hover: #e64a94;
  --text-highlight: #b51963;
  --color-nav: #f194b8;
}

body,
html,
div,
h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Barlow", sans-serif;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: #333;
}

#appLogo {
  width: 150px;
  height: auto;
}

.App {
  text-align: center;
  max-width: 650px;
  margin: auto;
  padding: 20px;
}

.appTitle h1 {
  color: var(--text-highlight);
  font-size: 36px;
  margin: 40px 0 40px 0;
}

.appTitle {
  margin: 40px 0 40px 0;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

button.navigationButton {
  background-color: var(--color);
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 50px;
}

button.navigationButton:hover {
  background-color: var(--color-on-hover);
}

/* Style the success message */
p.successMessage {
  color: green;
  margin-bottom: 20px;
}

.componentContainer {
  padding: 30px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.btn-primary {
  background-color: var(--color) !important;
  border-color: var(--color) !important;
}

.btn-primary:hover {
  background-color: var(--color-on-hover) !important;
  border-color: var(--color-on-hover) !important;
}

.btn-success {
  background-color: var(--color) !important;
  border-color: var(--color) !important;
}

.btn-success:hover {
  background-color: var(--color-on-hover) !important;
  border-color: var(--color-on-hover) !important;
}

input#duration {
  width: 20%;
  margin: auto;
}

.form-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer {
  text-align: center;
  padding: 10px;
  font-size: 12px;
  color: #575757;
  position: relative;
  bottom: 0;
  width: 100%;
}

.navbar {
  background-color: var(--color-nav);
}

.navbar-nav {
  margin: 0 auto !important;
}

.custom-nav-link {
  margin-right: 40px;
}

.signup {
  margin: 20px;
}

.response-message {
  margin: 10px 0;
  color: green;
  min-height: 24px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.response-message.fade-in {
  opacity: 1;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
